version: '3.8'

services:
  order-db:
    image: postgres:18
    container_name: order-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_db
    ports:
      - "5432:5432"
    volumes:
      - order_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d order_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  order-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-service
    ports:
      - "50051:50051"
    environment:
      GRPC_PORT: 50051
      DATABASE_URL: "host=order-db user=user password=password dbname=order_db port=5432 sslmode=disable"
      PRODUCT_SERVICE_URL: "product-service:50052" 
    depends_on:
      order-db:
        condition: service_healthy
    networks:
      - microservices-net
volumes:
  order_postgres_data:

networks:
  microservices-net:
    driver: bridge
